<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exmaple.bill"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.exmaple.bill.ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.exmaple.bill.fragment.demo.ActivityRollingPager"
            android:label="Fragment/Rolling Page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.bill.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.exmaple.bill.view.demo.ActivitySign"
            android:label="Views/Sign View" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.bill.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.exmaple.bill.utils.demo.ActivityColorUtils"
            android:label="Utils/Random Color" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.bill.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.exmaple.bill.view.demo.ActivityDrawable"
            android:label="Views/Text Drawable" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.bill.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.exmaple.bill.anim.demo.ActivityDrawableAnimation"
            android:label="Animation/Drawable Animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.bill.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.exmaple.bill.anim.demo.ActivityViewAnimation"
            android:label="Animation/View Animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.bill.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".designpattern.mvp.ui.MVPActivity"
            android:label="Desgin Pattern/MVP" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.bill.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>